{
    "extends": [
        "wesbos"
    ],
    "rules": {
        "lines-around-comment": [
            2,
            {
                "afterBlockComment": true,
                "afterLineComment": true,
                "beforeBlockComment": true,
                "beforeLineComment": true
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "arrowParens": "avoid",
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 80
            }
        ]
    }
}